<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>ATN Toys || Index</title>
</head>

<body>
    <style>
        .nav-link {
            flex: 1;
            text-align: right;
            letter-spacing: 50px;
        }

        nav {
            background: #dbaf96;
            display: flex;
            padding: 0% 6%;
            justify-content: space-between;
            align-items: center;
        }

        .nav-link ul li {
            color: white;
            list-style: none;
            display: inline-block;
            padding: 8px 20px;
            position: relative;
        }

        .nav-link ul li a {
            color: white;
            text-decoration: none;
            font-size: 25px;
            letter-spacing: 0px;
        }

        .nav-link ul li a::after {
            content: '';
            width: 0%;
            height: 2px;
            background: white;
            display: block;
            margin: auto;
            transition: 0.5s;
        }

        .nav-link ul li a:hover::after {
            width: 100%
        }

        .nav-link ul input {
            padding: 20px 10px;
            width: 10%;
            height: 40px;
            border-radius: 40px;
        }

        .nav-link ul input[type=text] {
            transition: width 0.4s ease-in-out;
        }

        .nav-link ul input[type=text]:focus {
            width: 30%;
        }
    </style>

    <nav>
        <a href="/" style="font-size: 40px;">ATNToys</a>
        <div class="nav-link" id="navlink">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/viewAll">PRODUCT</a></li>
                <li><a href="/new">ADD TOY</a></li>
                <li><a href="">CONTACT</a></li>
                <form action="/search" method="post" style="display: inline-block">
                    <input class="search_bar" placeholder="Search Product..." type="text"
                        style="width: 200px; padding-right: 20px; padding-left: 20px" name="txtSearch">
                </form>
                <li><a href="/logout">LOGOUT</a></li>
                <li><a>
                    {{#if name }}
                    <h4>WELCOME {{name}}</h4>
                    {{else}}
                    <h3>Require log in</h3>
                    {{/if}}
                </a></li>
            </ul>
        </div>
    </nav>

    <div>
        <div class="img-responsive">
            <h2 style="text-align: center">Welcome To ATN Toys Shop</h2>
            <img src="https://thumbs.dreamstime.com/z/baby-toys-graphic-wallpaper-background-illustration-184891998.jpg"
                style="width:100%; position: flex" alt="toys">
        </div>
    </div>
</body>

</html>