<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>ATN Toys || Register</title>
</head>

<body>

    <style>

        .loginheader {
            transform: translateX(5%);
        }

        h1 {
            margin-bottom: 40px;
        }

        .login-form {
            width: 500px;
            border: 2px solid #ccc;
            padding: 30px;
            background: transparent;
            border-radius: 15px;
            margin-left: 600px;
        }

        input {
            display: block;
            border: 2px solid #ccc;
            width: 95%;
            padding: 10px;
            margin: 10px auto;
            border-radius: 5px;
        }

        label {
            color: black;
            font-size: 18px;
            padding: 10px;
        }

        .container {
            background: rgba(13, 205, 207, 0.15);
        }
    </style>
    <br><br>
    <section class="loginheader">
        <div class="text-box">
            <form action="/registers" class="login-form" method="post">
                <br><br><br><br><br>
                <h2>Register Form</h2>
                <div class="">
                    <label for="username"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" class="form-control" name="txtUser">
                    <div style="color: red;">
                        {{nameError}}
                    </div>

                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" class="form-control" name="txtPass">

                    <button class="btn btn-success">Register</button>
                    <label><input type="checkbox" checked="checked" name="remember"> Remember me</label>
                </div>
            </form>
        </div>
    </section>


</body>

</html>